<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="static/css/login.css" rel="stylesheet">
    <link href="static/css/all.css" rel="stylesheet">
    <script src="static/js/main.js"></script>
    <link href="static/img/favicon.ico" rel="icon">
    <title>RallyConnect</title>
</head>
<body>
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <div class="card-body">
                <h5 class="card-title text-center">Sign In</h5>
                <form class="form-signin">
                    <div class="form-label-group">
                    {{form.email(class="form-control")}}
                    <label for="inputEmail">Email address</label>
                    </div>
    
                    <div class="form-label-group">
                    {{form.password(class="form-control")}}
                    <label for="inputPassword">Password</label>
                    </div>
    
                    <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                    <label class="custom-control-label" for="customCheck1">Remember password</label>
                    </div>
                    {{ form.submit(class="btn btn-lg btn-primary btn-block") }}
                    <hr class="my-4">
                    <a href="{{ url_for('register') }}">Need an Account? Register Here!</button>
                    <br>
                    <a id="fixedbutton" href="{{url_for('home')}}" style="color:white"><strong>Back</strong></button>
                </form>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>